* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-brand-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}
.label {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
}
.paragraph {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
}
.link {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
}